.createreview-container{
  padding:60px 8%;
  background:#f4f7ff;
  min-height:100vh;
}

.createreview-box{
  background:white;
  padding:40px;
  border-radius:20px;
  box-shadow:0 10px 30px rgba(0,0,0,0.05);
}

.form-header{
  text-align:center;
  margin-bottom:30px;
}

.divider{
  height:3px;
  width:80px;
  background:#4a6cf7;
  margin:15px auto;
  border-radius:5px;
}

.form-group{
  margin-bottom:25px;
}

select, input, textarea{
  width:100%;
  padding:14px;
  border-radius:10px;
  border:1px solid #ddd;
  outline:none;
}

.input-error{
  border:1px solid red;
}

.rating-selector{
  display:flex;
  align-items:center;
  gap:10px;
}

.star-btn{
  border:none;
  font-size:22px;
  background:transparent;
  cursor:pointer;
}

.star-btn.active{
  transform:scale(1.2);
}

.btn-submit{
  background:#4a6cf7;
  color:white;
  padding:12px 25px;
  border:none;
  border-radius:10px;
  cursor:pointer;
}

.btn-cancel{
  background:#ff4d4d;
  color:white;
  padding:12px 25px;
  border:none;
  border-radius:10px;
}