.dashboard {
  min-height: 100vh;
  padding: 40px 8%;
  background: #f4f7ff;
  font-family: "Inter", sans-serif;
}
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.logo-area{
  display: flex;
  align-items: center;
  gap: 15px;
}
.logo-icon{
  font-size: 28px;
  color: #4a6cf7;
}
.logo-area span{
  font-size: 13px;
  color: #777;
}
.header-right{
  display: flex;
  align-items: center;
  gap: 20px;
}
.user-badge{
  display: flex;
  align-items: center;
  gap: 8px;
  background: white;
  padding: 8px 15px;
  border-radius: 25px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}
.logout-btn{
  display: flex;
  align-items: center;
  gap: 8px;
  background: #ff4d4d;
  border: none;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 8px;
  cursor: pointer;
}
.search-box{
  flex: 1;
  display: flex;
  align-items: center;
  background: white;
  padding: 12px 15px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.04);
}
.search-box input{
  flex: 1;
  border: none;
  outline: none;
  margin-left: 10px;
}
.primary-btn{
  background: #4a6cf7;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 10px;
  cursor: pointer;
}